* {
  font-family: 'Tinos', serif;
}

body {
  background-color: rgb(218, 218, 218);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #898989;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(43, 43, 43);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.app {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 70px 1fr 50px;
  grid-template-areas: 
    "menu header"
    "menu content"
    "account footer";
  height: 100vh;
}

.c-menuContent__division {
  border-bottom: solid 1px black;
}


/* ToggleMenu */

.app.toggleMenuTrue {
  grid-template-columns: 1fr;
  grid-template-rows: 70px 1fr 50px;
  grid-template-areas: 
    "header"
    "content"
    "footer";
}